
.logon-container{
  width:100%;
  max-width:1120px;
  height:100vh;/*altura de td corpo*/
  margin:0 auto;

  /*para fazer alinhamento*/
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

/*Estilizar section*/
.logon-container section.form{
  width: 100%;
  max-width: 350px;
  margin-right: 30px;
}
/*Estilizar form de dentro de section*/
.logon-container section.form form{
  margin-top: 100px;
}
/*Estilizar h1 de dentro de form*/
.logon-container section.form form h1{
  font-size: 32px;
  margin-bottom: 32px;
}

